<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-md-12">
          <h2>GAMES HUB Provides</h2>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <div class="feature-icon">
              <i class="icon-box-check"></i>
            </div>
            <h3 class="feature-title">All Platforms</h3>
            <p>PC, Playstation, XBOX, Wii, Android, iOS and More.</p>
          </div>
          <!-- .feature -->
        </div>
        <!-- .column -->
        <div class="col-md-3">
          <div class="feature">
            <div class="feature-icon">
              <i class="icon-plane-globe"></i>
            </div>
            <h3 class="feature-title">Instance Playing</h3>
            <p>Download any time, any game, on any platform.</p>
          </div>
          <!-- .feature -->
        </div>
        <!-- .column -->
        <div class="col-md-3">
          <div class="feature">
            <div class="feature-icon">
              <i class="icon-car"></i>
            </div>
            <h3 class="feature-title">Free Updates</h3>
            <p>Turn on auto update to get free new game updates.</p>
          </div>
          <!-- .feature -->
        </div>
        <!-- .column -->
        <div class="col-md-3">
          <div class="feature">
            <div class="feature-icon">
              <i class="icon-customer-service"></i>
            </div>
            <h3 class="feature-title">24/h Support</h3>
            <p>Always on support to help you when you have problem.</p>
          </div>
          <!-- .feature -->
        </div>
        <!-- .column -->
      </div>
      <!-- .row -->
    </div>
  </div>
  <!-- .container -->
</main>
<!-- .main-content -->
