<div class="section section-dark text-center">
  <div class="container" id="about">
    <h2 class="title">About</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card-body card-plain">
          <i class="fa fa-gamepad fa-4x" aria-hidden="true"></i>
          <a href="#paper-kit">
            <div class="author">
              <h4 class="card-title">All Platforms</h4>
            </div>
          </a>
          <p class="card-description text-center">
            Games Hub supports PC, Playstation, XBOX, Wii, Android, iOS and More.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-plain">
          <i class="fa fa-cloud-download fa-4x" aria-hidden="true"></i>
          <a href="#paper-kit">
            <div class="author">
              <h4 class="card-title">Free Updates</h4>
            </div>
          </a>
          <p class="card-description text-center">
            Turn on auto update to get free new game updates.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body card-plain">
          <i class="fa fa-life-ring fa-4x fa-icon" aria-hidden="true"></i>
          <a href="#paper-kit">
            <div class="author">
              <h4 class="card-title">24/7 Support</h4>
            </div>
          </a>
          <p class="card-description text-center">
            Always on support to help you when you have problem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
