<main class="main-content">
  <div class="container">
    <div class="page">

      <div class="entry-content">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="product-images">
              <div class="thumbnails">
                <%= image_tag("game-4.jpg", class: "slide-image") %>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <h2 class="entry-title">PES 18</h2>
            <small class="price">$79.00</small>

            <p>Pro Evolution Soccer 2018 is a sports video game developed by PES Productions and published by Konami for Microsoft Windows, PlayStation 3, PlayStation 4, Xbox 360 and Xbox One.</p>
            <p>Konami's football sim has played second fiddle to FIFA in recent years but is regularly lauded for its realism and enjoyable gameplay Pro Evolution Soccer is back for another season and looking to increase its dent in a market that has come to be
              dominated by FIFA in recent years.</p>
            <p>After a costly period in which the standard of the game dropped, the past few editions of Konami's football sim have been lauded for the quality and feel of their gameplay and the title is gradually making up the ground it lost on FIFA.</p>
            <p>PES 2018 has now hit the shelves and once again, it is earning excellent reviews.</p>
            <br>
            <h2>Update v1.04 new features:</h2>
            <ul>
              <li>Liga NOS 2017-2018 Fully Licensed</li>
              <li>New/Updated kits for Liverpool, Leeds, Benfica, Sporting, Ajax and PSG</li>
              <li>New tattoos, including: Morata, G. Jesus, Ozil</li>
              <li>Sleeve Badges added for EPL, EFL, Serie A & Liga NOS (Including correct badges for european competitions)</li>
              <li>Updated all managers based on the latest Live Update - New players</li>
            </ul>

            <div class="addtocart-bar">
              <form action="#">
                <label for="#">Quantity</label>
                <select name="#">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <input type="submit" value="Add to cart">
              </form>

              <div class="social-links square">
                <strong>Share</strong>
                <a href="#" class="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="google-plus">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="pinterest">
                  <i class="fa fa-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .container -->
</main>
<!-- .main-content -->
