<div class="wrapper">

  <div class="page-header page-header-sm" data-parallax="false">
    <div class="product-container">
      <div class="filter"></div>
      <%= image_tag("codww2.png", class: "page-header-sm img-fluid product-image") %>
    </div>
  </div>
  <br>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h1 class="title">Call of Duty World War II</h1>
          <h3 class="description">Action/FPS/Adventure</h3>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <p>Call of Duty® returns to its roots with Call of Duty®: WWII - a breathtaking experience that redefines World War II for a new gaming generation. Land in Normandy on D-Day and battle across Europe through iconic locations in history’s most
            monumental war. Experience classic Call of Duty combat, the bonds of camaraderie, and the unforgiving nature of war against a global power throwing the world into tyranny.
          </p>
          <br/>
          <p>Call of Duty®: WWII creates the definitive World War II next generation experience across three different game modes: Campaign, Multiplayer, and Co-Operative. Featuring stunning visuals, the Campaign transports players to the European theater as
            they engage in an all-new Call of Duty® story set in iconic World War II battles. Multiplayer marks a return to original, boots-on-the ground Call of Duty gameplay. Authentic weapons and traditional run-and-gun action immerse you in a vast array of
            World War II-themed locations. The Co-Operative mode unleashes a new and original story in a standalone game experience full of unexpected, adrenaline-pumping moments.</p>
          <br>
          <btn class="btn btn-outline-info btn-round">
            <i class="nc-icon nc-settings-gear-65"></i>
            System Requirements</btn>
          <btn class="btn btn-outline-success btn-round">
            <i class="nc-icon nc-cart-simple"></i>
            Add to Cart</btn>
        </div>
      </div>
    </div>
  </div>
</div>
