<table>
  <tbody>
    <tr>
      <td><h2>Welcome Gamer!</h2></td>
    </tr>
    <tr>
      <td><p>You have successfully opened a new account on <%= @appname %> App, We hope to see you soon!</p></td>
    </tr>
    <tr>
      <td><p><strong><%= @appname %> Contact Support Team!</strong></p></td>
    </tr>
  </tbody>
</table>
