<div class="page-header page-header-sm" data-parallax="false">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 id="head">GAMES HUB</h1>
    </div>
  </div>
</div>
<br>
<%= render 'shared/messages' %>
