/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require nucleo-icons
 *= require font-awesome.min
 *= require paper-kit
 *= require style
 *= require_self



/*
****************************************************
************** //Theme styles **********************
****************************************************
*/

body {
  background-color: #fff;
  padding: 0px!important;
  margin: 0px!important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif
}

hr.style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.slides {
  margin: 0px!important;
  padding: 0px!important;
}

.carousel-item .item {
  height: 500px;
  border-radius: 0 !important;
}

.carousel-item img {
  min-height: 700px;
  border-radius: 0 !important;
}

.footer nav>ul a:not(.btn):hover {
  color: #0b1011!important;
}

.page-header {
  background-image: url('banner.jpg')!important;
}

.strip {
  margin: 28px 0 0px 0;
}
.product-container{
  margin: 0px!important;
  padding: 0px!important;
}
.product-image{
  min-height: 600px ;
  width: 100%;
}
.main-image{
  min-height: 400px;
  width: 100%;
}

.card-new {
  background-color: #0b1011;
  border-radius: 8px;
  color: #fff;
  width: 70%;
  margin: 120px 0 70px;
  min-height: 400px;
  padding: 30px;
  z-index: 1;
}

.card-index {
  background-color: #0b1011;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  min-height: 400px;
  padding: 30px;
  z-index: 1;
}

.card-info {
  background-color: #0b1011;
  border-radius: 8px;
  color: #fff;
  max-width: 700px;
  margin: 120px 0 70px;
  min-height: 400px;
  padding: 30px;
  z-index: 1;
}

.card-edit {
  background-color: #0b1011;
  border-radius: 8px;
  color: #fff;
  max-width: 500px;
  margin: 120px 0 70px;
  min-height: 400px;
  padding: 30px;
  z-index: 1;
}

.list{
  display: inline-block;
  background-color: #0b1011;
  border-radius: 8px;
  color: #fff;
  max-width: 500px;
  margin: 30px;
  padding: 30px;
  z-index: 1;
}

.shadow{
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.carousel-indicators{
  padding: 15px;
  margin: 10px;
}

.about-icon{
  margin-right: 40px;
 display: inline-block;
 text-align: center;
 vertical-align: baseline;
}


@media screen and (max-width: 767px) {
  .carousel-caption {
     display: block!important;
  }
}
