<%= render partial: 'shared/main' %>
<h1 class="text-center">Available Games</h1>
<%= link_to 'New Game', new_product_path, :class => "btn btn-natural btn-link btn-lg" %>
<div class=" text-center mx-auto">
  <%= render partial: "shared/search"%>
</div>
<div class="container">
  <div class="row">
    <%= render @products %>
  </div>
</div>
