<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Information</h3>
          <ul class="no-bullet">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About us</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <!-- .widget -->
      </div>
      <!-- column -->
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Consumer Service</h3>
          <ul class="no-bullet">
            <li>
              <a href="#">Consumer Help</a>
            </li>
            <li>
              <a href="#">Shipping</a>
            </li>
            <li>
              <a href="#">Refund Policies</a>
            </li>
            <li>
              <a href="#">Orders &amp; Returns</a>
            </li>
            <li>
              <a href="#">Discount Coupons</a>
            </li>
          </ul>
        </div>
        <!-- .widget -->
      </div>
      <!-- column -->
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">My Account</h3>
          <ul class="no-bullet">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="#">Cart</a>
            </li>
            <li>
              <a href="#">Order Tracking</a>
            </li>
            <li>
              <a href="#">New Account</a>
            </li>
          </ul>
        </div>
        <!-- .widget -->
      </div>
      <!-- column -->
      <div class="col-md-6">
        <div class="widget">
          <h3 class="widget-title">Join our newsletter</h3>
          <form action="#" class="newsletter-form">
            <input type="text" placeholder="Enter your email...">
            <input type="submit" value="Subsribe">
          </form>
        </div>
        <!-- .widget -->
      </div>
      <!-- column -->
    </div>
    <!-- .row -->

    <div class="colophon">
      <div class="copy">Copyright 2017 GAMES HUB. Made with
        <i class="fa fa-heart" aria-hidden="true"></i>
        by Mohammed Manahi. All rights reserved.</div>
      <div class="social-links square">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#">
          <i class="fa fa-pinterest"></i>
        </a>
      </div>
      <!-- .social-links -->
    </div>
    <!-- .colophon -->
  </div>
  <!-- .container -->
</div>
<!-- .site-footer -->
</div>

<div class="overlay"></div>

<div class="auth-popup popup">
<a href="#" class="close">
  <i class="fa fa-times"></i>
</a>
<div class="row">
  <div class="col-md-6">
    <h2 class="section-title">Login</h2>
    <form action="#">
      <input type="text" placeholder="Username...">
      <input type="password" placeholder="Password...">
      <input type="submit" value="Login">
    </form>
  </div>
  <!-- .column -->
  <div class="col-md-6">
    <h2 class="section-title">Create an account</h2>
    <form action="#">
      <input type="text" placeholder="Username...">
      <input type="text" placeholder="Email address...">
      <input type="submit" value="register">
    </form>
  </div>
  <!-- .column -->
</div>
<!-- .row -->
</div>
<!-- .auth-popup -->
