<!DOCTYPE html>
<html>
  <head>
    <title>Mailer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Montserrat');
      p {
        margin: auto;
        padding: 10px;
        align-content: center;
        font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
